{{#each this}}
<li class="item">
    <div class="card mb-3" style="width: 24rem; ">
    <img src="{{webformatURL}}" alt=""  class="card-img-top" />
    
      <div >
        <p >
          <i class="material-icons icons">thumb_up</i>
          {{likes}}
        </p>
        <p >
          <i class="material-icons icons">visibility</i>
          {{views}}
        </p>
        <p >
          <i class="material-icons icons">comment</i>
          {{comments }}
        </p>
        <p >
          <i class="material-icons icons">cloud_download</i>
          {{downloads }}
        </p>
      </div>
    </div>
</li>
{{/each}}